@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);











#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#menu-0 .mbr-navbar__section {
  background: #27aae0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
#features1-7 P {
  font-family: 'Oswald', sans-serif;
  color: #222222;
  font-size: 14px;
}
#features1-7 .mbr-section__col .mbr-header__text {
  color: #e25041;
}
#form1-3 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#form1-3 .btn {
  font-family: 'Oswald', sans-serif;
}
#contacts2-5 B {
  color: #e25041;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#contacts2-5 STRONG {
  color: #e25041;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#contacts2-5 P {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
#social-buttons2-8 .mbr-header__text DIV {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
#footer1-4 P {
  text-align: center;
  color: #ffffff;
}
#footer1-4 B {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
#content5-6 .mbr-header .mbr-header__text {
  text-align: center;
  color: #222222;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#content5-6 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-6 .mbr-article {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: left;
}
#content5-6 .mbr-article P {
  color: #ffffff;
  text-align: center;
}
